// Section Title Styling
.section-title {
    h2 {
        font-size: smaller;
        line-height: 1px;
        margin: 0 0 20px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: gray;
        &::after {
            content: "";
            width: 70%;
            height: 1px;
            display: inline-block;
            background: #4ceb95;
            margin: 4px 10px;
        }
    }

    p {
        margin: -15px 0 15px 0;
        font-size: xx-large;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
    }
}
